<app-header titulo="Alert"></app-header>

<ion-content class="ion-padding">

    <ion-button (click)="presentAlert()" expand="block">
        Mostrar alert
    </ion-button>

    <ion-button (click)="presentAlertMultipleButtons()" expand="block">
        Mostrar MultiButtons
    </ion-button>

    <ion-button (click)="presentAlertMultipleButtonsCustomize()" expand="block">
        Mostrar MultiButtons Personalizado
    </ion-button>

    <ion-button (click)="presentAlertPrompt()" expand="block">
        Mostrar Present Alert Prompt
    </ion-button>

</ion-content>